{{>header}}


<form method="POST" class="addMem" autocomplete="off">
    <h2 class="center">Add a new Member</h2>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name:</label>
        <input type="text" name="name" required class="form-control" id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">RegNo:</label>
        <input type="number" name="regno" required class="form-control" id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Start:</label>
        <input type="date" name="startDate" required class="form-control" id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">End:</label>
        <input type="date" name="endDate" required class="form-control" id="exampleInputEmail1" />
    </div>

    <div class="mb-3">
        <select class="form-select" name="status" aria-label="Default select example">
            <option selected disabled>Select status</option>
            <option value="active">Active</option>
            <option value="expired">Expired</option>
        </select>
    </div>


    <button type="submit" class="btn btn-success" style="margin-bottom: 5px;">Add</button>

    <a href="/viewall" class="btn btn-primary">View All</a>



</form>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>