{{>header}}


<form action="/login" method="POST" class="addMem" autocomplete="off">
    <h2 class="text-center">Login</h2>
    <div class="mt-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" name="email" required class=" form-control" id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="password" name="password" required class="form-control" id="exampleInputEmail1" />
    </div>

    <button type="submit" class="btn btn-success" style="margin-bottom: 5px;">Login</button>

</form>