{{>header}}


<div class="memTable mt-4">
    <div class="mb-4">
        <h1>Name: {{member.name}}</h1>
        <h2>Reg No: {{member.regno}}</h2>
    </div>
    <form action="/viewall" method="GET">
        <button type="submit" class="btn btn-primary custom-btn">Back</button>
    </form>
    <table class="table table-striped">
        <h2 class="center">Payments</h2>
        <tbody>
            <tr>
                <th scope="col">Sn</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
            </tr>

            <tr>
                <th scope="row">1</th>
                <td>{{formattedStartDate}}</td>
                <td>{{formattedEndDate}}</td>
            </tr>

        </tbody>
    </table>
</div>